.box {
  display: inline-flex;
  border: 2px solid black;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bolder;
  transition: all .5s ease-in-out;
}

#translate {
  background: wheat;
}

#translate:hover {
   transform: translateY(200px);
}

#rotate {
  transition-duration: 2s;
  background: rgb(232, 117, 117);
}

#rotate:hover {
  transform: rotate(1080deg);

}

#scale {
  background: rgb(113, 142, 227);
}


#scale:hover {
  transform: scale(2, 2);
}

#color {
  background: palegreen;
}

#color:hover {
  background-color: green;
  color: white;
}