* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

header {
  border: 2px solid palegreen;
  border-radius: 10px;
  background-color: palegreen;
  margin-bottom: 10px;
  display: inline-flex;
  justify-content: center;
}

main {
  display: flex;
  flex-flow: row nowrap;
  align-items: space-between;
}

main > section, main > aside {
  border: 2px solid royalblue;
  border-radius: 10px;
}

main > aside {
  display: inline-flex;
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;
  background-color: royalblue;
}

main > section {
  display: inline-flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  border: 2px solid firebrick;
  background-color: firebrick;
}

footer {
  border: 2px solid rgb(105, 39, 111);
  border-radius: 10px;
  background-color: rgb(105, 39, 111);
  margin-top: 10px;
  display: inline-flex;
  justify-content: center;
  color: wheat;
}

.svg-inline--fa {
  height: 2.5em !important;
  color: yellow;
}